In [13]:
import numpy as np
from rdkit import Chem
from PyFingerprint.fingerprint import get_fingerprint
import pandas as pd
mols = Chem.SmilesMolSupplier('./smiles.txt')
smiles = [Chem.MolToSmiles(i) for i in mols]

[09:43:04] WARNING: no name column found on line 1
[09:43:04] WARNING: no name column found on line 2
[09:43:04] WARNING: no name column found on line 3
[09:43:04] WARNING: no name column found on line 4
[09:43:04] WARNING: no name column found on line 5
[09:43:04] WARNING: no name column found on line 6
[09:43:04] WARNING: no name column found on line 7
[09:43:04] WARNING: no name column found on line 8
[09:43:04] WARNING: no name column found on line 9
[09:43:04] WARNING: no name column found on line 10
[09:43:04] WARNING: no name column found on line 11
[09:43:04] WARNING: no name column found on line 12
[09:43:04] WARNING: no name column found on line 13
[09:43:04] WARNING: no name column found on line 14
[09:43:04] WARNING: no name column found on line 15
[09:43:04] WARNING: no name column found on line 16
[09:43:04] WARNING: no name column found on line 17
[09:43:04] WARNING: no name column found on line 18
[09:43:04] WARNING: no name column found on line 19
[09:43:04] WARNING: no name column found on line 20
[09:43:04] WARNING: no name column found on line 21
[09:43:04] WARNING: no name column found on line 22
[09:43:04] WARNING: no name column found on line 23
[09:43:04] WARNING: no name column found on line 24
[09:43:04] WARNING: no name column found on line 25
[09:43:04] WARNING: no name column found on line 26
[09:43:04] WARNING: no name column found on line 27
[09:43:04] WARNING: no name column found on line 28
[09:43:04] WARNING: no name column found on line 29
[09:43:04] WARNING: no name column found on line 30
[09:43:04] WARNING: no name column found on line 31
[09:43:04] WARNING: no name column found on line 32
[09:43:04] WARNING: no name column found on line 33
[09:43:04] WARNING: no name column found on line 34
[09:43:04] WARNING: no name column found on line 35
[09:43:04] WARNING: no name column found on line 36
[09:43:04] WARNING: no name column found on line 37
[09:43:04] WARNING: no name column found on line 38
[09:43:04] WARNING: no name column found on line 39
[09:43:04] WARNING: no name column found on line 40
[09:43:04] WARNING: no name column found on line 41
[09:43:04] WARNING: no name column found on line 42
[09:43:04] WARNING: no name column found on line 43
[09:43:04] WARNING: no name column found on line 44
[09:43:04] WARNING: no name column found on line 45
[09:43:04] WARNING: no name column found on line 46
[09:43:04] WARNING: no name column found on line 47
[09:43:04] WARNING: no name column found on line 48
[09:43:04] WARNING: no name column found on line 49
[09:43:04] WARNING: no name column found on line 50
[09:43:04] WARNING: no name column found on line 51
[09:43:04] WARNING: no name column found on line 52
[09:43:04] WARNING: no name column found on line 53
[09:43:04] WARNING: no name column found on line 54
[09:43:04] WARNING: no name column found on line 55
[09:43:04] WARNING: no name column found on line 56
[09:43:04] WARNING: no name column found on line 57
[09:43:04] WARNING: no name column found on line 58
[09:43:04] WARNING: no name column found on line 59
[09:43:04] WARNING: no name column found on line 60
[09:43:04] WARNING: no name column found on line 61
[09:43:04] WARNING: no name column found on line 62
[09:43:04] WARNING: no name column found on line 63
[09:43:04] WARNING: no name column found on line 64
[09:43:04] WARNING: no name column found on line 65
[09:43:04] WARNING: no name column found on line 66
[09:43:04] WARNING: no name column found on line 67
[09:43:04] WARNING: no name column found on line 68
[09:43:04] WARNING: no name column found on line 69
[09:43:04] WARNING: no name column found on line 70
[09:43:04] WARNING: no name column found on line 71
[09:43:04] WARNING: no name column found on line 72
[09:43:04] WARNING: no name column found on line 73
[09:43:04] WARNING: no name column found on line 74
[09:43:04] WARNING: no name column found on line 75
[09:43:04] WARNING: no name column found on line 76
[09:43:04] WARNING: no name column found on line 77
[09:43:04] WARNING: no name column found on line 78
[09:43:04] WARNING: no name column found on line 79
[09:43:04] WARNING: no name column found on line 80
[09:43:04] WARNING: no name column found on line 81
[09:43:04] WARNING: no name column found on line 82
[09:43:04] WARNING: no name column found on line 83
[09:43:04] WARNING: no name column found on line 84
[09:43:04] WARNING: no name column found on line 85
[09:43:04] WARNING: no name column found on line 86
[09:43:04] WARNING: no name column found on line 87
[09:43:04] WARNING: no name column found on line 88
[09:43:04] WARNING: no name column found on line 89
[09:43:04] WARNING: no name column found on line 90
[09:43:04] WARNING: no name column found on line 91
[09:43:04] WARNING: no name column found on line 92
[09:43:04] WARNING: no name column found on line 93
[09:43:04] WARNING: no name column found on line 94
[09:43:04] WARNING: no name column found on line 95
[09:43:04] WARNING: no name column found on line 96
[09:43:04] WARNING: no name column found on line 97
[09:43:04] WARNING: no name column found on line 98
[09:43:04] WARNING: no name column found on line 99
[09:43:04] WARNING: no name column found on line 100
[09:43:04] WARNING: no name column found on line 101
[09:43:04] WARNING: no name column found on line 102
[09:43:04] WARNING: no name column found on line 103
[09:43:04] WARNING: no name column found on line 104
[09:43:04] WARNING: no name column found on line 105
[09:43:04] WARNING: no name column found on line 106
[09:43:04] WARNING: no name column found on line 107
[09:43:04] WARNING: no name column found on line 108
[09:43:04] WARNING: no name column found on line 109
[09:43:04] WARNING: no name column found on line 110
[09:43:04] WARNING: no name column found on line 111
[09:43:04] WARNING: no name column found on line 112
[09:43:04] WARNING: no name column found on line 113
[09:43:04] WARNING: no name column found on line 114
[09:43:04] WARNING: no name column found on line 115
[09:43:04] WARNING: no name column found on line 116
[09:43:04] WARNING: no name column found on line 117
[09:43:04] WARNING: no name column found on line 118
[09:43:04] WARNING: no name column found on line 119
[09:43:04] WARNING: no name column found on line 120
[09:43:04] WARNING: no name column found on line 121
[09:43:04] WARNING: no name column found on line 122
[09:43:04] WARNING: no name column found on line 123
[09:43:04] WARNING: no name column found on line 124
[09:43:04] WARNING: no name column found on line 125
[09:43:04] WARNING: no name column found on line 126
[09:43:04] WARNING: no name column found on line 127
[09:43:04] WARNING: no name column found on line 128
[09:43:04] WARNING: no name column found on line 129
[09:43:04] WARNING: no name column found on line 130
[09:43:04] WARNING: no name column found on line 131
[09:43:04] WARNING: no name column found on line 132
[09:43:04] WARNING: no name column found on line 133
[09:43:04] WARNING: no name column found on line 134
[09:43:04] WARNING: no name column found on line 135
[09:43:04] WARNING: no name column found on line 136
[09:43:04] WARNING: no name column found on line 137
[09:43:04] WARNING: no name column found on line 138
[09:43:04] WARNING: no name column found on line 139
[09:43:04] WARNING: no name column found on line 140
[09:43:04] WARNING: no name column found on line 141
[09:43:04] WARNING: no name column found on line 142
[09:43:04] WARNING: no name column found on line 143
[09:43:04] WARNING: no name column found on line 144
[09:43:04] WARNING: no name column found on line 145
[09:43:04] WARNING: no name column found on line 146
[09:43:04] WARNING: no name column found on line 147
[09:43:04] WARNING: no name column found on line 148
[09:43:04] WARNING: no name column found on line 149
[09:43:04] WARNING: no name column found on line 150
[09:43:04] WARNING: no name column found on line 151
[09:43:04] WARNING: no name column found on line 152
[09:43:04] WARNING: no name column found on line 153
[09:43:04] WARNING: no name column found on line 154
[09:43:04] WARNING: no name column found on line 155
[09:43:04] WARNING: no name column found on line 156
[09:43:04] WARNING: no name column found on line 157
[09:43:04] WARNING: no name column found on line 158
[09:43:04] WARNING: no name column found on line 159
[09:43:04] WARNING: no name column found on line 160
[09:43:04] WARNING: no name column found on line 161
[09:43:04] WARNING: no name column found on line 162
[09:43:04] WARNING: no name column found on line 163
[09:43:04] WARNING: no name column found on line 164
[09:43:04] WARNING: no name column found on line 165
[09:43:04] WARNING: no name column found on line 166
[09:43:04] WARNING: no name column found on line 167
[09:43:04] WARNING: no name column found on line 168
[09:43:04] WARNING: no name column found on line 169
[09:43:04] WARNING: no name column found on line 170
[09:43:04] WARNING: no name column found on line 171
[09:43:04] WARNING: no name column found on line 172
[09:43:04] WARNING: no name column found on line 173
[09:43:04] WARNING: no name column found on line 174
[09:43:04] WARNING: no name column found on line 175

In [14]:
morgans = [get_fingerprint(i, 'morgan').to_numpy().astype(int) for i in smiles]
datamorgan = np.vstack(morgans)
morgan = pd.DataFrame(datamorgan, columns=[f"morgan{i}" for i in range(1, 2049)])
morgan.head()

,morgan1,morgan2,morgan3,morgan4,morgan5,morgan6,morgan7,morgan8,morgan9,morgan10,...,morgan2039,morgan2040,morgan2041,morgan2042,morgan2043,morgan2044,morgan2045,morgan2046,morgan2047,morgan2048
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
morgan.to_csv('morgan.csv', index=False)

In [16]:
krfps = [get_fingerprint(i, 'klekota-roth').to_numpy().astype(int) for i in smiles]
data_krfp = np.vstack(krfps)
krfp = pd.DataFrame(data_krfp, columns=[f"KRFP{i}" for i in range(1, 4861)])
krfp.head()

,KRFP1,KRFP2,KRFP3,KRFP4,KRFP5,KRFP6,KRFP7,KRFP8,KRFP9,KRFP10,...,KRFP4851,KRFP4852,KRFP4853,KRFP4854,KRFP4855,KRFP4856,KRFP4857,KRFP4858,KRFP4859,KRFP4860
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
krfp.to_csv('krfp.csv', index=False)

In [18]:
maccss = [get_fingerprint(i, 'maccs').to_numpy().astype(int) for i in smiles]
data_maccs = np.vstack(maccss)
maccs = pd.DataFrame(data_maccs, columns=[f"MACCS{i}" for i in range(1, data_maccs.shape[1]+1)])
maccs.head()

,MACCS1,MACCS2,MACCS3,MACCS4,MACCS5,MACCS6,MACCS7,MACCS8,MACCS9,MACCS10,...,MACCS157,MACCS158,MACCS159,MACCS160,MACCS161,MACCS162,MACCS163,MACCS164,MACCS165,MACCS166
0,0,0,0,0,0,0,0,0,0,0,...,0,1,1,0,1,1,1,1,1,0
1,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,0
2,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,1,1,1,1,1,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,1,1,1,1,1,0

In [19]:
maccs.to_csv('maccs.csv', index=False)

In [20]:
ecfp6s = [get_fingerprint(i, 'circular').to_numpy().astype(int) for i in smiles]
data_ecfp = np.vstack(ecfp6s)
ecfp = pd.DataFrame(data_ecfp, columns=[f"ECFP{i}" for i in range(1, data_ecfp.shape[1]+1)])
ecfp.head()

,ECFP1,ECFP2,ECFP3,ECFP4,ECFP5,ECFP6,ECFP7,ECFP8,ECFP9,ECFP10,...,ECFP1015,ECFP1016,ECFP1017,ECFP1018,ECFP1019,ECFP1020,ECFP1021,ECFP1022,ECFP1023,ECFP1024
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
ecfp.to_csv('ecfp.csv', index=False)

In [24]:
data2nd = pd.read_csv('dataset.csv')
data2nd.drop(['NumHAcceptors','NumHDonors','TPSA','MolLogP'],axis=1,inplace=True)
data2nd.head()

,alkyl_num,frag_sym,HOMO_calc,LUMO_calc,dipole,MPI,surface_min,surface_max,PSA,control_PCE,...,anchor_end_PO,anchor_end_SA,anchor_end_SH,anchor_end_SiO,MetalOxide_ITO,MetalOxide_NiOx,MetalOxide_SnO2,MetalOxide_TiO2,MetalOxide_ZnO,PCE
0,2,1,-5.665071,-1.022318,1.975439,11.42494,-38.62844,53.933991,138.99,19.90,...,0,0,0,0,0,1,0,0,0,22.40
1,2,1,-5.146211,-1.007550,1.467697,12.11600,-39.79595,52.674270,200.02,19.90,...,0,0,0,0,0,1,0,0,0,21.00
2,4,1,-5.182687,-1.386859,2.954174,12.05384,-40.46879,51.108000,287.91,20.10,...,0,0,0,0,0,1,0,0,0,25.60
3,0,0,-8.070575,-1.975575,6.131034,17.92665,-35.95829,45.147690,122.30,14.65,...,0,1,0,0,0,0,0,1,0,16.54
4,0,0,-7.655580,-1.919355,3.424702,15.53109,-31.70790,57.597300,107.98,14.65,...,0,1,0,0,0,0,0,1,0,16.88

In [25]:
feats = data2nd.iloc[:,:9]
device = data2nd.iloc[:,9:]
feats.head()

,alkyl_num,frag_sym,HOMO_calc,LUMO_calc,dipole,MPI,surface_min,surface_max,PSA
0,2,1,-5.665071,-1.022318,1.975439,11.42494,-38.62844,53.933991,138.99
1,2,1,-5.146211,-1.007550,1.467697,12.11600,-39.79595,52.674270,200.02
2,4,1,-5.182687,-1.386859,2.954174,12.05384,-40.46879,51.108000,287.91
3,0,0,-8.070575,-1.975575,6.131034,17.92665,-35.95829,45.147690,122.30
4,0,0,-7.655580,-1.919355,3.424702,15.53109,-31.70790,57.597300,107.98

In [26]:
feats.to_csv('feats.csv',index=False)
device.to_csv('device.csv',index=False)